<%= render "layouts/main" %>

<section class="container about">
<div class="row">
<div class="col-md-11">
    <div class="media-left media-top">    
    </div>
    <div class="media-body">
      <h2 class="media-heading"> Pedro Reyes</h2>
      <h4>Professional Title</h4>
            <p> Pete competed at elite levels in Tae Kwon Do when young, and later on in free style wrestling
            and judo. Like most people while trying to become better he commited all of the mistakes one should avoid: <br />
            <br />
             - Ultra calorie deficit pre competition in order to make weight. <br />
                  - Sauna suit and wet sauna use to lose about 5-7 kg of body weight.<br />
                  - Creating food rules.<br />
                  - Binge eating and purging.<br />
                  - Over training without proper rest or periodization.<br />
                  - Believing in the hype and gimmicks of certain supplement companies.<br />
                  - Yoyo dieting.<br />
                  <br />
                  Not having despair and having survived all mistakes along with education, Pete evolved to
                  manage the stresses of constant competition, periodization for tournaments, low percentage of
                  body fat to muscle ratio, weight training, conditioning, and the never-ending-need to increase
                  training volume and capacity in a much better way. Better yet, Pete learned the nutrition required
                  to be in optimal levels of energy and body composition all while managing life, work and sports.<br />
                  <br />
                  With most doctors or nutritional experts not being athletes themselves, or not having experienced the
                  pains and hard effort of taking a sport to the next level, they lacked the understanding of the psyche and
                  needs of the athlete, fitness, or bodybuilding competitor. Out of the gap between medicine and clinical
                  nutrition towards athletic performance, and the fitness industry in general, Advanced Nutrition was created
                  5 years ago by "Pete", M.S., B.S., R.D.
                  We have helped fitness athletes, wrestlers, soccer players, judokas, Brazilian Jiu-jitsu practitioners,
                  power lifters, bodybuilders, fitness competitors, cross fit lifters, people wanting to lose body fat, women
                  trying to get back to pre-pregnancy shape, because though some may have the knowledge, and others may have the
                  experience Advanced Nutrition has both. <br />
                  <br />
                  "Pete"<br />
                  Pedro Reyes<br />
                  Nutrition & Physique Consultant<br />
                  M.S., B.S., RD
                  </p>
      </div>
      </div>
      </div>
  </section>
<footer>
  <%= render "layouts/footer" %>
</footer>