<%= render "layouts/main" %>

<section class="container tire">
  <img class="tire_image" src="/images/tire.png" height="850" width="1143" align="center" />
</section>
  <section class="container ath-perf">
    <p>If you are an aspiring athlete, or already play at a high level, to increase sport performance
      means many different things depending on the sport. Broadly put all the general areas
      of fitness need to be increased since an athlete has to excel at different areas at the same
      time all while maintaining intensity. <br />
      <br />
      For example, wrestlers and Judokas have very similar requirments when it comes to increasing
      sport performance they need: high levels of submaximal and maximal strength, flexibility,
      isometric strength, dynamic strength, muscle power, muscle endurance, and anaerobic and
      aerobic profile. <br />
      <br />
      Other sports involve the same areas, some may rely more heavily on endurance, or
      maximal strength (power lifters), speed (sprinters), isometric strength (body builders),
      and yet others rely on dynamic strength mostly. <br />
      <br />
      However athletic performance begins with the proper nutrition in order to carry
      out not only your sport, but also the training that has to be carried outside of it-all
      while providing enough calories to help the body fully recover. The second part is the
      training regimen needed to expand and increase the areas that are most needed in your sport.
      <br />
      <br />
      Advanced Nutrition has the knowledge and experience to provide you with both!
      </thead>
    </p>
  </section>
<section>
  <%= render "layouts/footer" %>
</section>