<%= render "layouts/main" %>
	<section class="container transformation_images">
		<div class="row images">
			<div class="col-md-6">
				<img class="" src="/images/1.png" height="450" width="550" align="center" />
			</div>
			<div class="col-md-6">
				<img class="" src="/images/2.png" height="450" width="550" align="center" />
			</div>
		</div>
		<div class="row images">
			<div class="col-md-6">
				<img class="" src="/images/3.png" height="450" width="550" align="center" />
			</div>
			<div class="col-md-6">
				<img class="" src="/images/4.png" height="450" width="550" align="center" />
			</div>
		</div>
		<div class="row images">
			<div class="col-md-6">
				<img class="" src="/images/5.png" height="450" width="550" align="center" />
			</div>
			<div class="col-md-6">
				<img class="" src="/images/6.png" height="450" width="550" align="center" />
			</div>
		</div>
		<div class="row images">
			<div class="col-md-6">
				<img class="" src="/images/7.png" height="450" width="550" align="center" />
			</div>
			<div class="col-md-6">
				<img class="" src="/images/8.png" height="450" width="550" align="center" />
			</div>
		</div>
		<div class="row-images">
			<div class="col-md-12">
				<img class="" src="/images/9.png" height="450" width="550" align="center" />
			</div>
		</div>
	</section>
<section>
  <%= render "layouts/footer" %>
</section>