<%= render "layouts/main" %>
	<section class="container transformation_images">
		<img class="" src="/images/1.png" height="400" width="500" align="center" />
		<img class="" src="/images/2.png" height="400" width="500" align="center" />
		<br />
		<img class="" src="/images/3.png" height="400" width="500" align="center" />
		<img class="" src="/images/4.png" height="400" width="500" align="center" />
		<br />
		<img class="" src="/images/5.png" height="400" width="500" align="center" />
		<img class="" src="/images/6.png" height="400" width="500" align="center" />
		<br />
		<img class="" src="/images/7.png" height="400" width="500" align="center" />
		<img class="" src="/images/8.png" height="400" width="500" align="center" />
		<br />
		<img class="" src="/images/9.png" height="400" width="500" align="center" />
	</section>
<section>
  <%= render "layouts/footer" %>
</section>