<!DOCTYPE html>
<html>
<body>
	<header>
		<%= render "layouts/main" %>
	</header>
	<section class="container contact" background="">
		<div class="row row-content">	
			<div class="col-md-12">
				<h2 align="center">Contact Us</h2>
				<p align="center">Email: <a href="mailto:adnutritionservices@gmail.com"> adnutritionservices@gmail.com</a></p>
				<p align="center">Phone: 281 763 1136</p> <br />
				<p align="center">Call or send an email and tell me more about yourself and what your goals are. Do you want
				to get healthier or perform better at your sport? Call or email me anytime and get a free
				consultation.</p> <br/>
			</div>						
		</div>
		<div class="row row-content">
			<div class="col-md-12">
				<h2 align="center">Please Send us a Mail</h2>
				<br />
				<form class="form-group">
					<div class="form-group" align="center">
						<input type="text" placeholder="First Name" size="60" required>
					</div>
					<div class="form-group" align="center">
						<input type="text" name="" placeholder="Last Name" size="60" required>
					</div>
					<div class="form-group" align="center">
						<input type="text" name="" placeholder="Email" size="60" required>
					</div>
					<div class="form-group" align="center">
						<input type="text" name="" placeholder="Phone Number" size="60">
					</div>
					<div class="form-group" align="center">
						<textarea placeholder="What'on your mind?" style="width: 509px; height: 250px; "></textarea>
					</div>
					<div class="form-group" align="center">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<footer>
  		<%= render "layouts/footer" %>
	</footer>	

</body>
</html>