<!DOCTYPE html>
<html>
<body>
	<header>
		<%= render "layouts/main" %>
	</header>
	<section class="container contact" background="">
		<div class="row">	
			<div class="col-md-12">
				<p>Call or send an email and tell me more about yourself and what your goals are. Do you want
				to get healthier or perform better at your sport? Call or email me anytime and get a free
				consultation.</p> <br/>
				<p>Email: <a href="mailto:adnutritionservices@gmail.com"> adnutritionservices@gmail.com</a></p>
				<p>Phone: 281 763 1136</p>
			</div>							
		</div>
	</section>

	<footer>
  		<%= render "layouts/footer" %>
	</footer>	

</body>
</html>