<%= render "layouts/main" %>

<section class="container contact">
	<p>Email me at</p>
	<p>Call me and tell me more about yourself and what your goals are. Call anytime.</p>
</section>

<section>
  <%= render "layouts/footer" %>
</section>