<%= render "layouts/main" %>

<section class="container back-stretch">
  <img class="back_stretch" src="/images/back-stretch.png" height="850" width="1200" align="center" />
</section>

  <section class="container wellness">
    <p>Don't worry if your goals are not to win the next championship, or nationals, or getting into
    the team, or if you do not want to compete in any bikini or figure competition. <br />
    <br />
    If you are seeking a better quality of life, fitness, and over all better health, Advanced Nutrition
    can also provide you with the tools you need to achieve those goals.<br />
    <br />
    Advanced Nutrition has helped people transform their lives. <br />
    <br />
    You do not have to be an Olympian to be treated like one, let Advanced Nutrition help
    you be healthier!</p>
  </section>

<section>
  <%= render "layouts/footer" %>
</section>