  <%= render "layouts/main" %>

  <section class="container statement">
    <h2 class="statement" align=center > Nutritional Science at your fingertips offering <br /> targeted individuals plans that work for YOU!</h2>
    <p align=center><strong>Get fit</strong>, take your <strong>sport performance to the next level</strong> with plans specific to your sport,
      <strong> <br />build muscle and melt fat</strong>, or get a <strong>healthier you and <br />regain confidence</strong> in yourself. </p>

      <p> Join the people that have benefited from the Advanced Nutrition. <br />
        <ul>
          <li><p>If you are an athlete needing to get to a <strong>better level</strong> or <strong>perform better</strong> at your sport.
            <br />Get your edge <a href="athletic-perf.html">now</a>.<p></li>
          <li><p>If you are or want to compete in <strong>figure</strong>, <strong>bikini</strong>, or <strong>bodybuilding</strong> and the preparation
            to get you <strong>stage ready</strong>.<br /> Get stage ready <a href="physique.html"> now</a>.</p></li>
          <li><p>If you want to <strong>lose body fat</strong> and <strong>improve aesthetics</strong>, get summer ready, and <strong>melt fat off</strong>
          .<br /> Get ready  <a href="wellness.html">now</a>.</p></li>
          <li><p>If you need a <strong>total body transformation</strong> and are willing to work to get there.
             Start your own transformations now and check out the difference it has made
             to <a href="transformation.html"> others</a>.</p></li>
        </ul>
      </p>

  </section>

  <section>
    <%= render "layouts/footer" %>
  </section>