  <%= render "layouts/main" %>

<section class="main-banner">
  <img class="main_image" src="/images/bannerweb.png" height="500" width="1278" align="center" />
</section>


  <section class="container statement">
    <h2 class="statement" > Nutritional Science Offering Targeted individuals Plans</h2>
    <p>Get fit, take your sport performance to the next level with plans specific to your sport,
       build muscle and melt fat, or get a healthier you and regain confidence in yourself. Join the people that have benefited from the Advanced Nutrition. </p> 
  </section>

  <section class="container statement">
  <div class="row">
      <div class="col-md-3">
        <h3 class="media-heading" align="center">Body Building/Bikini Contest</h3>
      </div>
      <div class="media-body">
        <p>Physique contest are some of the most demanding endeavors a person can undertake. Pushing the body in the gym and in the kitchen in order to increase muscle and minimize fat gains to achieve the right proportions is very stressful.

        Day in and day out constantly being sore and tired while staying in line with the nutrition requirements is not something for the feint of heart. Then, if that was not hard enough the closer it gets to the competition fat percentage needs to decrease below the 8% and planning all that needs to come together in order to get to the competition stage. 

        Advanced Nutrition has helped people in all over the world with their physique needs, their preparation, meal prep, nutrition and training. 

        Are you 12 weeks out, 24, 48, Advanced Nutrition can hep get to the stage.</p>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-3">
        <h3 class="media-heading" align="center">Athletic Performance</h3>
      </div>
      <div class="media-body">
        <p>
          If you are an aspiring athlete, or already play at a high level, to increase sport performance means many different things depending on the sport. Broadly put all the general areas of fitness need to be increased since an athlete has to excel at different areas at the same time all while maintaining intensity. 

          For example, wrestlers and Judokas have very similar requirments when it comes to increasing sport performance they need: high levels of submaximal and maximal strength, flexibility, isometric strength, dynamic strength, muscle aapower, muscle endurance, and anaerobic and aerobic profile. 

          Other sports involve the same areas, some may rely more heavily on endurance, or maximal strength (power lifters), speed (sprinters), isometric strength (body builders), and yet others rely on dynamic strength mostly. 

          However athletic performance begins with the proper nutrition in order to carry out not only your sport, but also the training that has to be carried outside of it-all while providing enough calories to help the body fully recover. The second part is the training regimen needed to expand and increase the areas that are most needed in your sport. 

          Advanced Nutrition has the knowledge and experience to provide you with both!
        </p>
      </div>
    </div>
    <br />

     <div class="row">
      <div class="col-md-3">
        <h3 class="media-heading" align="center">Health and Wellness</h3>
      </div>
      <div class="media-body">
        <p>
        Don't worry if your goals are not to win the next championship, or nationals, or getting into the team, or if you do not want to compete in any bikini or figure competition. 

        If you are seeking a better quality of life, fitness, and over all better health, Advanced Nutrition can also provide you with the tools you need to achieve those goals.

        Advanced Nutrition has helped people transform their lives. 

        You do not have to be an Olympian to be treated like one, let Advanced Nutrition help you be healthier!
        </p>
      </div>
    </div>



  </section>



  <section>
    <%= render "layouts/footer" %>
  </section>