<header>
  <%= render "layouts/main" %>
</header>

<section class="container ball-push-up">
  <img class="ball-push-up" src="/images/ball-push-up.png" align="center" height="850" width="1143" />
  </section>

  <section class="container physique">
    <h2> Physique Contest</h2>
    <p>Physique contest are some of the most demanding endeavors a person can undertake.
    Pushing the body in the gym and in the kitchen in order to increase muscle and minimize
    fat gains to achieve the right proportions is very stressful.<br />
    <br />
    Day in and day out constantly being sore and tired while staying in line with the
    nutrition requirements is not something for the feint of heart. Then, if that was
    not hard enough the closer it gets to the competition fat percentage needs to
    decrease below the 8% and planning all that needs to come together in order to
    get to the competition stage. <br />
    <br />
    Advanced Nutrition has helped people in all over the world with their physique
    needs, their preparation, meal prep, nutrition and training. <br />
    <br />
    Are yu 12 weeks out, 24, 48, Advanced Nutrition can help get to the stage.</p>
  </section>

<footer>
  <%= render "layouts/footer" %>
</footer>