<%= render "layouts/main" %>

<section class="container table">
<div class="row row-content">
	<div class="col-md-3">
	<h3>Physique Contest</h3>
	</div>
	<div class="col-md-8">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Physique <br /> Contest</th>
				<th>4 Weeks/<br /> Monthly</th>
				<th>8 Weeks</th>
				<th>12 Weeks</th>
				<th>16 Weeks</th>
				<th>20 Weeks</th>
			</tr>
		</thead>
		<tbody>
			<td></td>
			<td>500$ USD</td>
			<td>800$ USD</td>
			<td>1300$ USD</td>
			<td>1600$ USD</td>
			<td>200$ USD</td>
		</tbody>
		</table>
	</div>
</div>

	<br />
	<br />
	<br />

	<div class="row row-content">
	<div class="col-md-3">
	<h3>Body Transformation</h3>
	</div>
		<div class="col-md-6 body">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Body <br /> Transformation</th>
				<th>4 Weeks/<br /> Monthly</th>
				<th>8 Weeks</th>
				<th>12 Weeks</th>
				<th>20 Weeks</th>
			</tr>
		</thead>
		<tbody>
			<td></td>
			<td>500$ USD</td>
			<td>800$ USD</td>
			<td>1200$ USD</td>
			<td>1800$ USD</td>
		</tbody>

		</table>
	</div>
	</div>

	<br />
	<br />
	<br />

<div class="row row-content">
<div class="col-md-3">
	<h3>Nutritonal Only*</h3>
	</div>

	<div class="col-md-4 nutrition">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Nutritional Only</th>
				<th>Single Diet</th>
				<th>Monthly</th>		
			</tr>
		</thead>
		<tbody>
			<td></td>
			<td>249$ USD</td>
			<td>199$ USD</td>
		</tbody>
		</table>
	</div>
</div>

	<br />
	<br />
	<br />

<div class="row row-content">
<div class="col-md-3">
	<h3>Sport Performance</h3>
	</div>

	<div class="col-md-4 sport">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Sport <br /> Performance</th>
			<th>4 Weeks</th>
			<th>Monthly</th>		
		</tr>
	</thead>
	<tbody>
		<td></td>
		<td>500$ USD</td>
		<td>450**$ USD</td>
	</tbody>
	</table>
	</div>
</div>

	<br />
	<br />
	<br />

<div class="row row-content">
<div class="col-md-3">
	<h3>One to One Sessions</h3>
	</div>

	<div class="col-md-8 onetone">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>One to One <br /> Sessions</th>
				<th>Single Session</th>
				<th>10 Sessions</th>
				<th>15 Sessions</th>		
				<th>20 Sessions</th>
			</tr>
		</thead>
		<tbody>
			<td></td>
			<td>149$ USD</td>
			<td>1200$ USD</td>
			<td>1800$ USD</td>
			<td>2000$ USD</td>
		</tbody>
		</table>
	</div>
</div>

	<br />
	<p><b>*Revision every 14 days</b></p>
	<p><b>**2 Month commitment required</b></p>
	<p><b>For international prices for Latin America please contact us to get a quote. </b></p>
</section>

<section>
  <%= render "layouts/footer" %>
</section>