/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap-social
 */

 img.combination {
 	margin-bottom: 10px;
 }

 div.body-tran {
 	border-radius: 2px;
 	
 }

 div.clear-space {
 	height: 195px;
 }


 p {
 	font-size: 18px;
 	color: #111111;
 }

 li {
 	font-size: 17px;
 	font-style: normal;
 }

 li.nav-links {
 	border-right: 1px solid #595959;
 }

h2 {
	font-size: 26px;
}

h3 {
	font-style: italic;
}

header.jumbotron {
	background-color: #FFFFFF;
}

header.main-image {
	margin-top: 50px;
}



