@import "bootstrap-sprockets";
@import "bootstrap";

a.navbar-brand {
	margin-top: -10px;
}

body {
	background-color: #FFFFFF;
}

div.images {
	margin-bottom: 10px;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

footer {
	background-color: #AFAFAF
}


img.main_image {
	margin-top: 50px;
}

section.ath-perf {
	margin-top: 60px;
}

section.physique {
	margin-top: 60px;
}

section.transformation_images {
	margin-top: 100px;
	margin-left: 110px;
}
section.wellness {
	margin-top: 60px;
}