@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #FFFFFF;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

footer {
	background-color: #AFAFAF
}

section.about {
	margin-top: 60px;
}

img.main_image {
	margin-top: 50px;
}

section.ath-perf {
	margin-top: 60px;
}

section.physique {
	margin-top: 60px;
}

section.transformation_images {
	margin-top: 60px;
	margin-left: 110px;
}
section.wellness {
	margin-top: 50px;
}