// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section.about {
	margin-top: 90px;
	margin-left: 100px;
}

section.statement {
	margin-top: 30px;
}

section.table {
	margin-top: 100px;
}

.table td {
	text-align: center;
	font-size: 17px;
}

.table th {
	text-align: center;
	color: #2E74B5;
	font-size: 18px;
	font-style: italic;
}

.row-content {
    margin: 0px auto;
    border-bottom: 1px ridge;
}

section.back-stretch {
	margin-top: 50px;
}

section.ball-push-up {
	margin-top: 50px;
}

section.contact {
	margin-top: 100px;
}

section.tire {
	margin-top: 50px;
}

