  <br />
  <footer>
      <div class="container">
          <div class="row row-footer">
              <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                  <h5>Links</h5>
                  <ul class="list-unstyled">
                      <li><%= link_to "Home", root_path%></li>
                      <li><%= link_to "About", about_path%></li>
                        <li><%= link_to "Contact", contact_path%></li>
                  </ul>
              </div>
              <div class="col-xs-6 col-sm-5">
                  <h5>Contact Us Now</h5>
                  <address>
                Put your address here<br>
                Houston, Texas<br>
                HZip Code<br>
                <i class="fa fa-phone"> 281-763-1136</i><br>              
                <i class="fa fa-envelope"></i>
                                   <a href=""></a>
             </address>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/advancednutrition4life/?fref=ts"><i class="fa fa-facebook"></i></a>                                  
                  </div>
                  <div style="padding: 47px 10px;">
                  <p>Find us on Facebook!</p>
                  </div>
              </div>
              <div class="col-xs-12">
                  <p style="padding:10px;"></p>
                  <p align=center>© 2016 Advanced Nutrition</p>
              </div>
          </div>
      </div>
  </footer>